* {
    font-family: "TexGyreAdventor", sans-serif;
    scrollbar-color: aliceblue darkslategrey;
    color: aliceblue;
}
*::selection {
    background-color: darkcyan;
}

body {
    background-color: black;
    font-size: 100%;
}

canvas.emscripten {
    margin: 0;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loadingDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#uiwrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: scroll;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    opacity: 1;
    transition: opacity 0.15s;
}
#colour_picker,
#ui {
    margin: 2.5em;
    background: hsla(180, 25%, 25%, 60%);
    z-index: 2;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 1em;
    width: 12em;
    height: fit-content;
}
#colour_picker input {
    width: 100%;
    border: none;
    outline: none;
    padding: 0;
}

#ui label {
    display: inline;
}
#ui input,
#ui button {
    border-radius: 0;
    border: none;
    outline: none;
    background-color: #2f4f4f;
    display: inline;
}
#ui input[type="number"] {
    cursor: text;
    -moz-appearance: textfield;
    appearance: textfield;
    width: calc(100% - 0.3em);
    padding: 0.15em;
}
#ui input[type="number"]::-webkit-inner-spin-button,
#ui input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
#ui button {
    cursor: pointer;
    padding: 0.15em;
    transition: transform 0.05s;
}
#ui button:hover {
    transform: scale(1.05);
}
#ui button:active {
    transform: scale(1.02);
}

input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
    height: 1em;
    width: 2em;
    padding: 0;
    z-index: 5;
}
#ui > div {
    z-index: 0;
    position: relative;
}
.toggle {
    z-index: -1;
    position: absolute;
    height: 1em;
    width: 2em;
    top: 50%;
    transform: translate(-2em, -50%);
    cursor: pointer;
    background-color: #2f4f4f;
    border-radius: 0.5em;
}
.toggle::before {
    position: absolute;
    content: "";
    height: 0.7em;
    width: 0.7em;
    top: 0.15em;
    left: 0.15em;
    border-radius: 0.5em;
    background-color: aliceblue;
    transition: 0.15s;
}

input[type="checkbox"]:checked + .toggle {
    background-color: #2f4f4f;
}

button:focus,
input:focus,
input:focus + .toggle {
    box-shadow: 0 0 3px 1px cyan;
}

input[type="checkbox"]:checked + .toggle::before {
    transform: translateX(1em);
}
.keycomb {
    display: flex;
    justify-content: space-between;
}
kbd {
    background-color: #2f4f4f;
    padding: 0 0.15em;
    border-radius: 0.25em;
}
